@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="ttIdentityAdmin">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Thinktecture IdentityServer v3 Admin</title>

    <style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
    </style>

    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    @Styles.Render("~/app/css")
</head>
<body ng-controller="appController">
<div>
    <navbar></navbar>
    <div class="container" ui-view="content"></div>
    <footer-nav></footer-nav>
</div>

@Scripts.Render("~/app/js")
</body>
</html>